<p-toast></p-toast>

<div *ngIf="Admin==1" id="header" style=" background-color: rgb(35, 180, 173); text-align: center;" > 
          <a class="navbar-brand" href="cliente"><img src="../../../../../assets/img/logo.png" alt="#" /></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#show-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
 </div>


 <div *ngIf="Admin==0" id="header" style=" background-color:rgb(3, 20, 56); text-align: center;" > 
    <a class="navbar-brand" href="cliente"><img src="../../../../../assets/img/logo.png" alt="#" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#show-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div  *ngIf="Admin==1" style="background-color: rgb(35, 180, 173); padding-top: 3%; padding-bottom:2%;" >
    <p-megaMenu [model]="items"></p-megaMenu>
</div>


<div  *ngIf="Admin==0" style="background-color:rgb(3, 20, 56); padding-top: 3%; padding-bottom:2%;" >
    <p-megaMenu [model]="items"></p-megaMenu>
</div>



    <div style="padding: 5%; background-color: rgba(88, 160, 219, 0.377);">
        <button *ngIf="Admin === 0" style="margin-bottom:3%; border-color: rgb(0, 0, 85); color: rgb(0, 0, 85);" pButton pRipple type="button" icon="pi pi-user"  label="Ver Información Cliente" class="p-button-outlined p-button-help" (click)="verInformacion()"></button>
        <button *ngIf="Admin === 0" style="margin-bottom:3%; border-color: rgb(0, 0, 85); color: rgb(0, 0, 85);" pButton pRipple type="button" icon="pi pi-id-card"  label="Gestionar Tarjetas" class="p-button-outlined p-button-help" (click)="openDialogTarjeta()"></button>
        <button *ngIf="Admin === 0" style="margin-bottom:3%; border-color: rgb(0, 0, 85); color: rgb(0, 0, 85);" pButton pRipple type="button" icon="pi pi-shopping-cart"  label="Ver Carrito" class="p-button-outlined p-button-help" (click)="verCarrito()"></button>
        
        <div class="card">
            <p-dataView #dv [value]="products" [paginator]="true" [rows]="5" filterBy="name"
                [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header" >
                    <div style="background-color: rgb(0, 0, 0); padding: 2%; border-spacing: 2%;" class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between" >
                        <span *ngIf="Admin === 1" class="p-input-icon-left p-mb-2 p-mb-md-0">
                            <button pButton pRipple style="border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);" type="button" label="Añadir Productos" class="p-button-outlined" (click)="openDialog()"></button>
                        </span>
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </ng-template>
                <ng-template let-product pTemplate="listItem">
                    <div class="p-col-12">
                        <div class="product-list-item">
                            <img src="../../../assets/product.png" width="5%"/>
                            <div class="product-list-detail">
                                <div class="product-name">{{product.nombre}}</div>
                                <div class="product-description">{{product.descripcion}}</div>
                                <p-rating ></p-rating>
                                <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.precio}}</span>
                            </div>
                            <div class="product-list-action">
                                <span class="product-price">${{product.precio}}</span>
                                <!-- <p-button icon="pi pi-shopping-cart" label="PAGAR" (click)="obtenerPaga()"></p-button> -->
                                <p-button *ngIf="Admin === 0" icon="pi pi-shopping-cart" label="Agregar" (click)="ingresarNumeroProductos(product)"></p-button>
                                <!--p-button icon="pi pi-shopping-cart" label="Add to Cart" (click)="eliminarProducto(product.id_producto,product.nombre,product.descripcion,product.precio)"></p-button-->
                                <span [class]="'product-badge status-' + product.nombre.toLowerCase()">{{product.nombre}}</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template let-product pTemplate="gridItem">
                    <div class="p-col-12 p-md-4">
                        <div class="product-grid-item card">
                            <div class="product-grid-item-top">
                                <div>
                                    <i class="pi pi-tag product-category-icon"></i>
                                    <span class="product-category">{{product.nombre}}</span>
                                </div>
                                <span [class]="'product-badge status-' + product.nombre.toLowerCase()">{{product.nombre}}</span>
                            </div>
                            <div class="product-grid-item-content">
                                <img src="../../../assets/product.png" width="5%"/>
                                <div class="product-name">{{product.nombre}}</div>
                                <div class="product-description">{{product.descripcion}}</div>
                                <p-rating ></p-rating>
                            </div>
                            <div class="product-grid-item-bottom">
                                <span class="product-price">${{product.precio}}</span>
                                <p-button *ngIf="Admin === 0" icon="pi pi-shopping-cart" (click)="ingresarNumeroProductos(product)"></p-button>
                                <!--p-button icon="pi pi-shopping-cart" (click)="eliminarProducto(product.id_producto,product.nombre,product.descripcion,product.precio)"></p-button-->
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>



   
    </div>

