
    
    
    


    
<div style="margin-left: 30%; margin-top: 10%;">
   
    <p-card [style]="{'width':'30%', 'padding-left':'4%'}">
        <span class="p-float-label" style="margin-top: 20%;">
            <input id="float-input" type="text" pInputText> 
            <label for="float-input">Usuario</label>
        </span>
        
        <span class="p-float-label" style="margin-top: 20%;">
            <input id="float-input" type="text" pInputText> 
            <label for="float-input">Contraseña</label>
        </span>

        <button pButton pRipple type="button" label="Success" class="p-button-outlined p-button-success" style="margin-top: 10%; width: 82%;"></button>
    
        <!--div class="p-field p-col-12 p-md-4" >
            <span class="p-float-label">
                <input type="password" pPassword [(ngModel)]="pass"/>
                <label for="inputtext">Contraseña</label>
            </span>
        </div-->

    </p-card>

</div>
       
    


  
