body{
    background-image: url('../../../assets/img1.jpg');
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    padding-left: 30%;
    padding-top: 4%;;
}
