
<body>


    <div style="margin-left: 0%; margin-top: 10%;">
        
        
            <p-card [style]="{'width':'60%', 'padding-left':'1%', 'background-color':'rgba(218,147,92,0.3)'}">
                
                
                
                <mat-list role="list">
                    <mat-list-item> 
                        <span class="p-float-label" >
                            <input id="float-input" type="text" style="width: 260%;"  [(ngModel)]="ingresoUsuario" pInputText required> 
                            <label for="float-input" style="color: #EE3C61;"><b>USUARIO</b></label>
                        </span>
                    </mat-list-item>
                    <br>
                    <mat-list-item> 
                        <span class="p-float-label" >
                            <input  id="float-input" type="password" style="width: 260%;"  [(ngModel)]="ingresoContra"  pInputText required> 
                            <label for="float-input" style="color: #EE3C61;"><b>CONTRASEÑA</b></label>
                        </span>    
                    </mat-list-item>
                    <br>
                    <mat-list-item > 
                        <button pButton pRipple type="button" label="INGRESAR" class="p-button-outlined p-button-success" style="width: 95%; border-color: blue; color:blue" (click)="ingresar()"></button>    
                    </mat-list-item>
                    <br>
                    <mat-list-item> 
                        <button pButton pRipple label="¿No tienes cuenta?" style="width: 95%; text-decoration: none;padding: 0; border: none; background: none; color:blue;" (click)="openDialog()"></button>
                    </mat-list-item>
                   </mat-list>
               
                
            </p-card>
     
       
    
    </div>


</body>



       
<p-toast></p-toast>

  
