

<table style="color: rgb(0, 0, 85);">
    <tr>
        <td colspan="2" style="text-align: center;"><h1>Ingresa una nueva tarjeta</h1></td>
    </tr>
    <tr>
        <td>
            <div mat-dialog-content>
                
                <mat-form-field>
                  <mat-label>Código</mat-label>
                  <input  matInput [(ngModel)]="data.codigo">
                </mat-form-field>
            </div>
        </td>
        <td>
            <div mat-dialog-content>
                <mat-form-field>
                    <mat-label>Fecha</mat-label>
                    <input matInput [(ngModel)]="data.fecha">
                  </mat-form-field>
                 
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div mat-dialog-content>
                <mat-form-field>
                  <mat-label>CVV</mat-label>
                  <input matInput [(ngModel)]="data.cvv">
                </mat-form-field>
            </div>
              
        </td>
        <td></td>
        <td>
            <button style="margin-bottom:3%; border-color: rgb(0, 0, 85); color: rgb(0, 0, 85);" 
            pButton pRipple type="button" icon="pi pi-plus"  label="Añadir" 
            class="p-button-outlined p-button-help" (click)="crearTarjeta()"></button>
        </td>
    </tr>
</table>


    




<div class="card">
    <p-table [value]="customers" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" 
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>CODIGO</th>
                <th>FECHA</th>
                <th>CVV</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>{{customer.codigo}}</td>
                <td>{{customer.fecha}}</td>
                <td>{{customer.cvv}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>



  <div mat-dialog-actions>
    <button pButton pRipple style="background-color: rgb(0, 0, 85);" type="button" label="Salir" class="p-button-rounded p-button-danger"  (click)="onNoClick()"></button>
  </div>