.titulo_registro{
    font-size: 20px;
    color: #4fcaff;
    background-color: black;
    height: 50px;
    margin-bottom: 0px;
    padding-top: 1%;
}

.footer{
    height: 100px;
    padding-left: 40%;
    background-color:#000000;
    color: white
}



